* {
    margin-top: 40px;
}

.container{ 
    /* position: relative; */
    margin: auto;
    background-image: url('clock_image.png');
    background-repeat: no-repeat;
    /* background-size: contain; */
    /* background-position: 50%; */
    background-size: 100%;
    width: 600px;
    height: 600px;
    /* border: 2px solid black; */
}

.hours{
    position: relative;
    height: 22%;
    width: 5px;
    background-color:black;
    border: 3px solid black;
    border-radius: 10px;
    left: 295px;
    top: 164px;
    /* visibility: hidden; */
    transform-origin: bottom;
    /* transform: rotate(60deg); */
    /* display: none; */
    
}
.minutes{
    position: relative;
    height: 32%;
    width: 5px;
    background-color:black;
    border: 2px solid black;
    border-radius: 10px;
    left: 295px;
    top: -73px;
    opacity: 0.7;
    transform-origin: bottom;
    /* transform: rotate(300deg); */
    
}
.seconds{
    position: relative;
    height: 40%;
    width: 0.5px;
    background-color:black;
    border: 1px solid black;
    border-radius: 10px;
    left: 295px;
    top: -352px;
    opacity: 0.6;
    transform-origin: bottom;
    /* transform: rotate(90deg); */
}